{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Videcam Helper{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {{wtf.quick_form(form)}}
    </div>
    <div class="col-md-9">
        This app help you to detect time code on your video and many usefull features also
        <div class="text-block-2 sucess-header" style="margin-top:18px;">
                {% if init %}
                    {% for item in timecode %}
                        <li><p >{{ item }}</p></li>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
